<div class="container-fluid">
  <div class="row main-row">
    <!-- Left Column -->
    <div class="col-md-3 col-lg-3 sidebar">
      <div class="card" id="items_tab">
        <div class="card-header">
          Add Items
        </div>
        <div class="card-body">
          <div class="row" id="items-wrapper">
          </div>
        </div>
      </div>
      <!-- Context Menu -->
      <div class="card" id="context-menu">
        <div class="card-header">
          <button class="btn btn-block btn-danger" id="context-menu-delete">
            <span class="glyphicon glyphicon-trash"></span> Delete Item
          </button>
        </div>
        <div class="card-body">
          <div class="form">
            <div class="form-group">
              <label>
                Width
              </label>
              <input type="number" class="form-control" id="item-width">
            </div>
            <div class="form-group">
              <label>Depth</label>
              <input type="number" class="form-control" id="item-depth">
            </div>
            <div class="form-group">
              <label>Height</label>
              <input type="number" class="form-control" id="item-height">
            </div>
          </div>
          <small>
            <span class="text-muted">Measurements in inches.</span>
          </small>
        </div>
        <div class="card-footer text-muted">
          <label>
            <input type="checkbox" id="fixed" /> Lock in place</label>
        </div>
      </div>
      <!-- Floor textures -->
      <div class="card" id="floorTexturesDiv" style="display:none;">
        <div class="card-header">
          Adjust Floor
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" texture-url="rooms/textures/light_fine_wood.jpg" texture-stretch="false" texture-scale="300">
              <img class="img-thumbnail" alt="Thumbnail light fine wood" src="./assets/rooms/thumbnails/thumbnail_light_fine_wood.jpg" />
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="wallTextures" style="display:none;">
        <div class="card-header">
          Adjust Wall
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" texture-url="rooms/textures/marbletiles.jpg" texture-stretch="false" texture-scale="300">
              <img class="img-thumbnail" alt="Thumbnail marbletiles" src="./assets/rooms/thumbnails/thumbnail_marbletiles.jpg" />
            </a>
            </div>
            <div class="col-sm-6">
              <a href="#" texture-url="rooms/textures/wallmap_yellow.png" texture-stretch="true" texture-scale="">
              <img class="img-thumbnail" alt="Thumbnail wallmap yellow" src="./assets/rooms/thumbnails/thumbnail_wallmap_yellow.png" />
            </a>
            </div>
            <div class="col-sm-6">
              <a href="#" texture-url="rooms/textures/light_brick.jpg" texture-stretch="false" texture-scale="100">
              <img class="img-thumbnail" alt="Thumbnail light brick" src="./assets/rooms/thumbnails/thumbnail_light_brick.jpg" />
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Column -->
    <div class="col-md-9 col-lg-9 main">
      <ngb-tabset>
        <ngb-tab title="Edit Floorplan" id="floorplan_tab">
          <ng-template ngbTabContent>
            <div id="floorplanner">
              <canvas id="floorplanner-canvas"></canvas>
              <div id="floorplanner-controls">
                <button id="move" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-move"></span> Move Walls
                </button>
                <button id="draw" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-pencil"></span> Draw Walls
                </button>
                <button id="delete" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-remove"></span> Delete Walls
                </button>
                <span class="pull-right">
            <button class="btn btn-primary btn-sm" id="update-floorplan">Done &raquo;</button>
          </span>
              </div>
              <div id="draw-walls-hint">
                Press the "Esc" key to stop drawing walls
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Design" id="design_tab">
          <ng-template ngbTabContent>
            <!-- 3D Viewer -->
            <div id="viewer">
              <div id="main-controls">
                <a href="#" class="btn btn-primary btn-sm" id="new">New Plan</a>
                <a href="#" class="btn btn-primary btn-sm" id="saveFile">Save Plan</a>
                <a href="#" class="btn btn-sm btn-primary btn-file">
                  <input type="file" class="hidden-input" id="loadFile"> Load Plan
                </a>
              </div>
              <div id="camera-controls">
                <a href="#" class="btn btn-primary bottom" id="zoom-out"><span class="glyphicon glyphicon-zoom-out"></span></a>
                <a href="#" class="btn btn-primary bottom" id="reset-view"><span class="glyphicon glyphicon glyphicon-home"></span></a>
                <a href="#" class="btn btn-primary bottom" id="zoom-in"><span class="glyphicon glyphicon-zoom-in"></span></a>
                <span>&nbsp;</span>
                <a class="btn btn-primary bottom" href="#" id="move-left"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <span class="btn-group-vertical">
                  <a class="btn btn-primary" href="#" id="move-up"><span class="glyphicon glyphicon-arrow-up"></span></a>
                  <a class="btn btn-primary" href="#" id="move-down"><span class="glyphicon glyphicon-arrow-down"></span></a>
                </span>
                <a class="btn btn-primary bottom" href="#" id="move-right"><span class="glyphicon glyphicon-arrow-right"></span></a>
              </div>
              <div id="loading-modal">
                <h1>Loading...</h1>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
