<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: activeRoute('fbxsample')}">
        <a class="nav-link" [routerLink]="['/fbxsample']">Creative's Models <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeRoute('furnitures')}">
        <a class="nav-link" [routerLink]="['/furnitures']">Furnitures <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeRoute('cars')}">
        <a class="nav-link" [routerLink]="['/cars']">Cars</a>
      </li>
      <li class="nav-item" [ngClass]="{active: activeRoute('furniture2')}">
        <a class="nav-link" [routerLink]="['/furniture2']">Avatar <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- Main view/routes wrapper-->
<router-outlet></router-outlet>
